<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <h2 class="form-signin-heading">Create your account</h2>
    <%= f.text_field :first_name, autofocus: true %>
    <%= f.text_field :last_name, autofocus: true %>
    <%= f.date_field :dob, autofocus: true, label: "Birthday" %>
    <%= f.text_field :location, autofocus: true %>
    <%= f.email_field :email, autofocus: true %>
    <%= f.password_field :password, autocomplete: "off", help: "Use at least 6 characters" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
    <%= f.submit "Sign up" %>
    <p>Already have an account? <%= render "devise/shared/links" %></p>
<% end %>

