<%= form_for @user, url: user_update_path do |f| %>
  <%= f.text_field :first_name, autofocus: true %>
  <%= f.text_field :last_name, autofocus: true %>
  <%= f.date_field :dob, autofocus: true, label: "Birthday" %>
  <%= f.text_field :location, autofocus: true %>
  <%= f.email_field :email, autofocus: true %>
  <div>
    <% Skill.all.each do |skill| %>
    <label>
        <%= check_box_tag "user[skill_ids][]", skill.id, f.object.skills.include?(skill) %>
        <%= skill.name %>
    <% end %>
  </div>
  <%= f.submit "Update account info" %>
<% end %>
