<script type="text/javascript"></script>

<p><%= link_to "Back to Map Results", :root%></p>

<div class="container userInfo">
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
               <div class="panel-heading resume-heading">
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="col-xs-12 col-sm-4">
                           <figure>
                              <%= image_tag(@user.image.url(:medium), :class => "img-thumbnail img-responsive center-block") %>
                           </figure>
                           <div class="row">
                                <%if user_signed_in? && current_user != @user%>
                                <a href="/messages/<%=params[:id]%>" id="chat-button" class="btn btn-green btn-block btn-compose-email">Chat With <%=@user.first_name  %></a>
                                <%end%>

                           </div>
                        </div>
                        <div class="col-xs-12 col-sm-8">
                           <ul class="list-group">
                              <li class="list-group-item"><h2><%=@user.first_name + " " + @user.last_name%></h2></li>
                              <li class="list-group-item"><i class="fa fa-birthday-cake"></i>  <%=@user.dob.strftime("%B %Y")%></li>
                              <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%=@user.location%></li>
                              <li class="list-group-item"><i class="fa fa-envelope"></i> <%=@user.email%></li>
                           </ul>
                           <% if @user == current_user %>
                            <div id="edit-contact-container">
                             <%= link_to 'Edit Profile', user_profile_edit_path, class: "btn btn-default edit-user-button"%>
                             <ul id="contacted-users">
                                <li id="contacts-heading">Recent Contacts:</li>
                              <%@recent_contacts.each do |user|%>
                                <li><a href="/users/<%=user.id%>"><%=user.full_name%></a></li>
                              <%end%>
                             </ul>
                            </div>
                           <% end %>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="bs-callout bs-callout-green">
                  <h4>Summary</h4>
                  <ul class="list-group">
                      <%if @user.summary %>
                          <p>
                            <%=@user.summary%>
                          </p>
                      <%else%>
                        <p class="list-group-item"><%=@user.first_name%> has not listed a summary</p>
                      <%end%>
                  </ul>
               </div>

               <div class="bs-callout bs-callout-green">
                  <h4>Interests</h4>
                  <ul class="list-group">
                      <%if @user.interests %>
                          <p>
                            <%=@user.interests%>
                          </p>
                      <%else%>
                        <p class="list-group-item"><%=@user.first_name%> has not listed any interests</p>
                      <%end%>
                  </ul>
               </div>

               <div class="bs-callout bs-callout-green">
                  <h4>Skills</h4>
                  <ul class="list-group">
                      <%if @user.skills.length > 0 %>
                        <%@user.skills.each do |skill|%>
                          <li class="list-group-item">
                            <%=skill.name%>
                          </li>
                        <%end%>
                      <%else%>
                        <li class="list-group-item"><%=@user.first_name%> has not listed any skills</li>
                      <%end%>
                  </ul>
               </div>

            </div>
         </div>
    </div>
</div>
</div>
