<p><%= link_to "BACK TO MAP SEARCH", :root%></p>

<% if @user == current_user %>
   <p><%= link_to "Edit Profile", user_profile_edit_path %></p>
<% end %>

<div class="container userInfo">
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
               <div class="panel-heading resume-heading">
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="col-xs-12 col-sm-4">
                           <figure>
                              <%= image_tag(@user.image.url(:medium), :class => "img-thumbnail img-responsive center-block") %>
                           </figure>
                           <div class="row">

                                <a href="/messages/<%=params[:id]%>" id="chat-button" class="btn btn-green btn-block btn-compose-email">Chat With <%=@user.first_name  %></a>

                           </div>
                        </div>
                        <div class="col-xs-12 col-sm-8">
                           <ul class="list-group">
                              <li class="list-group-item"><h2><%=@user.first_name + " " + @user.last_name%></h2></li>
                              <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%=@user.location%></li>
                              <li class="list-group-item"><i class="fa fa-envelope"></i> <%=@user.email%></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="bs-callout bs-callout-green">
                  <h4>Summary</h4>
                  <ul class="list-group">
                      <%if @user.summary %>
                          <p>
                            <%=@user.summary%>
                          </p>
                      <%else%>
                        <p class="list-group-item"><%=@user.first_name%> has not listed a summary</p>
                      <%end%>
                  </ul>
               </div>

               <div class="bs-callout bs-callout-green">
                  <h4>Interests</h4>
                  <ul class="list-group">
                      <%if @user.interests %>
                          <p>
                            <%=@user.interests%>
                          </p>
                      <%else%>
                        <p class="list-group-item"><%=@user.first_name%> has not listed any interests</p>
                      <%end%>
                  </ul>
               </div>

               <div class="bs-callout bs-callout-green">
                  <h4>Skills</h4>
                  <ul class="list-group">
                      <%if @user.skills.length > 0 %>
                        <%@user.skills.each do |skill|%>
                          <li class="list-group-item">
                            <%=skill.name%>
                          </li>
                        <%end%>
                      <%else%>
                        <li class="list-group-item"><%=@user.first_name%> has not listed any skills</li>
                      <%end%>
                  </ul>
               </div>

            </div>
         </div>
    </div>
</div>
</div>
