<div id='login-pad'>
  <div id='login-form'>
    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <h2 class="form-signin-heading">Please log in</h2>
        <%= f.email_field :email, autofocus: true, hide_label: true, placeholder: "Email address"  %>
        <%= f.password_field :password, autocomplete: "off", hide_label: true, placeholder: "Password" %>
        <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me, checked: true%>
        <% end -%>
        <%= render "devise/shared/links" %>
        <%= f.submit "Log in" %>
    <% end %>
  </div>
</div>
