<!DOCTYPE html>
<html>
<head>
  <title>FinalProjectLearningApp</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  <script src="https://use.fontawesome.com/7837c0b485.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%=config.token%>&callback=initMap">
  </script>
</head>
<body>
  <header>
    <div id="header-logo">
      Level <i class="fa fa-level-up fa-2x" aria-hidden="true"></i>
      <img width="40" height="40" class="mush-logo" src=<%=image_url("level_up.png")%>>
    </div>
    <nav id="navbar-main">
      <% if user_signed_in?  %>
        <a href="#"><%= "#{current_user.first_name} #{current_user.last_name}" %></a>
        <a data-method="delete" href="/users/sign_out">Logout</a>
      <% else %>
        <a href="/users/sign_in">Login</a>
        <a href="/users/sign_up">Sign Up</a>
      <% end %>
    </nav>
  </header>
<%= yield %>

</body>
</html>
