<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="F6RqmfrvMRKYCnUbQIhj16PfpYGrI8f2CTqrye4nT5U" />
    <title>FinalProjectLearningApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="https://use.fontawesome.com/7837c0b485.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzWibWWs0iuPjnnwnaOpkQvVH3LhTeiIE&libraries=places">
    </script>
    <script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
  crossorigin="anonymous"></script>
    <meta name="turbolinks-cache-control" content="no-cache">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <%= action_cable_meta_tag %>
</head>
<body>

  <div class="navbar-wrapper">
    <div class="container-fluid">
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div>
            <a class="navbar-brand" href="/">Level Up</a>
            <img width="80" height="40" class="mush-logo" src=<%=image_url("people.png")%>>
          </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse pull-right">
          <ul class="nav navbar-nav">
            <% if user_signed_in?  %>
              <li><a href="/users/<%=current_user.id%>"><%= "#{current_user.first_name} #{current_user.last_name}" %></a></li>
              <li><a data-method="delete" href="/users/sign_out">Logout</a></li>
            <% else %>
              <li><a class='login_popup_open' id="login-link" href="/users/sign_in">Login</a></li>
              <li><a class='register_popup_open' id="register-link" href="/users/sign_up">Sign Up</a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    </div>
  </div>

<div class="yield-box"></div>

  <%= yield %>
<div class="popup_content" id="login_popup"></div>
<div class="popup_content" id="register_popup"></div>
  <%= render 'layouts/footer' %>
</body>

</html>
